<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tests">
    <test name="API Tests">
        <classes>
            <class name="com.pack.testing.api.LoginTest"/>
        </classes>
    </test>
    <test name="UI Tests">
        <classes>
            <class name="com.pack.testing.ui.LoginTest"/>
        </classes>
    </test>
</suite>